@import url('https://fonts.googleapis.com/css?family=Notable');
* {
	margin: 0;
	padding: 0;
	letter-spacing: 1px;
	line-height: 1.5;
	text-indent: 0;
	word-spacing: 1 px;
}
#useless {
	display: none;
}
body, html{
	height: 100%;
	width: 100%;
}
body {
	max-width: 95%;
	margin-left: 2.5%;
	margin-right: auto;
	display: inline-block;
	background-color: #555;
	font-family: "Arial", "Helvetica", "sans-serif"
}
img {
	width: auto;
	height: auto;
	max-width: 300px;
}
video {
	width: 65%;
	height: auto;
}
#mainVideo {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1em;
}
header {
	font-family: 'Notable';
}

header h2 {
	text-transform: uppercase	;
}
/*nav stuff*/
#logo {
	max-width: 10%;
	height: auto;
}
#title {
	display: flex;
	flex-wrap: wrap;
	color: #FFC72B;
	align-items: center;
}
#title h1 {
	flex: 70%;
	padding: 2em;
}
#logo {
	flex: 30%;
	flex-shrink: 0;
}
	
	/*desktop and tablet */
#desktopNav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
#desktopNav li {
	float: left;
}
#desktopNav a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
#desktopNav li a:hover {
	background-color: #111;
}
.active {
	background-color: #04AA6D;
}
	/*phone*/
#hamburger {

}
#hamNav label {
	display: inline-block;
	color: white;
	font-style: normal;
	font-size: 1.2em;
	padding: 10px;
	position: absolute;
	top: 0;
	right: 0;
}
#hamItems a {
	box-sizing: border-box;
	display: block;
	width: 100%;
	border: 1px solid #333;
	text-align: center;
	text-decoration: none;
	color: white;
}
#hamItems a:hover {
	background-color: #111;
}
#hamburger {
	display: none;
}
/*bottom stuff*/
footer {
	position: relative;
	margin: 10px;
	padding: 5px;
	width: 95%;
	bottom: 0;
	left: 0;
}
#copyright {
	position: absolute;
	bottom: 0;
	left: 0;
}
#cookieStatement {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 9999;
	opacity: 50%;
	padding: 10px;
	color: #FFF;
	background-color: #FA0
}
#useless > p {
	color: white;
}
#useless + p {
	background-color: red;
}
/*index stuff*/
#flexContainer {
	display: flex;
	flex-direction: column;
	position: relative;
}
#mainIndex {
	display: flex;
}
#mainIndex img {
	margin-left: 1em;
	margin-right: 1em;
}
.indexArticles {
	padding: 5px;
	border: 1px solid white;
	margin: 5px;
}
#asideIndex {
	margin: 5px;
	border-style: double;
	border-width: 1px;
	flex-shrink: 0;
	flex-grow: 0;
}

/*form, since it's the same for all sizes*/
form {
	display: inline-block;
	padding: 1em;
	border: 1px solid #CCC;
}
form * {
	box-sizing:	border-box;
}
form legend, 
form label {
	padding: 0;
	font-weight: bold;
	border: 5px;
	margin: 2px;
}
form input[type="text"], 
form input[type="email"],
form textarea{
	display: block;
	width: 95%;
	border: 1px solid #CCC;
	padding: 0.3em;
}
form textarea {
	height: 100px;
}


/*table, since it's the same for all*/
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	border-color: #111;
	padding: 0.3em;
}
table {
	display: inline-block;
	border: 5px;
	margin: 2px;
}

tbody tr:hover {
	background-color: rgba(139, 231, 172, 0.44);
}
	tr:nth-child(even) {
		background-color: #CFF;
	}
	tr:nth-child(odd) {
		background-color: #FFF;
	}
td {
	color: black;
}
#sectionTickets {
	position: relative;
}

/*bestdestinations, the part that is the same*/
#article1 {
	grid-area: article1;
}
#article2 {
	grid-area: article2;
}
#article3 {
	grid-area: article3;
}
#article4 {
	grid-area: article4;
}
#article5 {
	grid-area: article5;
}
#article6 {
	grid-area: article6;
}
#asideDestinations {
	display: flex;
	justify-content: space-around;
}
/*desktop*/
@media screen and (min-width: 1280px){
	#hamNav {
		display: none;
	}
	/*index*/
	.indexArticles {
		float: left;
		width: 60%;
	}
	.indexImage {
		float: right;
	}
	/*bestdestinations*/
	#mainDestinations {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto auto auto auto auto auto auto;
		gap: 1em 1em;
		grid-template-areas:'article2 article1 article3'
							'article2 article1 article3'
							'article5 article1 article3'
							'article5 article1 article4'
							'article5 article1 article4'
							'article5 article1 article4'
							'article5 article6 article6';
	}
	/*tickets*/
	table {
		display: inline-block;
		float: left;
	}
	#asideTickets {
		display: flex;
		flex-direction: column;
		float: right;
	}
	/*contact*/
	#mainContact {
		display: grid;
		grid-template-rows: auto auto auto;
		grid-template-columns: auto 300px;
	}
	form {
		grid-row: 1 / span 2;
		grid-column: 1 / span 1;
	}
	#canaryForm {
		grid-row: 1 / span 1;
	}
}

/*tablet*/
@media screen and (min-width: 481px) and (max-width: 1279px) {
	#hamNav {
		display: none;
	}
	/*index*/
	#flexContainer {
		display: flex;
		flex-direction: column-reverse;
	}
	.indexArticles {
		float: right;
		max-width: 60%;
	}
	.indexImage {
		float: left;
		max-width: 30%;
		border: none;
		margin: 0;
	}
	/*bestdestinations*/
	#mainDestinations {
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto auto auto auto auto auto auto;
		gap: 1em 1em;
		grid-template-areas:'article1 article2'
							'article1 article2'
							'article3 article2'
							'article3 article5'
							'article3 article5'
							'article3 article5'
							'article6 article6'
							'article6 article6';
	}
	#article4 {
		display: none;
	}
						
	/*tickets*/
	#canaryTickets {
		display: none;
	}
	
	/*contact*/
	#mainContact {
		display: grid;
		grid-template-rows: auto auto auto;
		grid-template-columns: auto 300px;
	}
	form {
		grid-row: 1 / span 6;
		grid-column: 1 / span 1;
	}
	#canaryForm {
		grid-row: 1 / span 1;
	}
	#planeForm {
		grid-row: 2 / span 2;
	}
}

/*mobile*/
@media screen and (max-width: 480px) {
	#desktopNav {
		display: none;
	}
	#title {
		width: 70%;
	}
	#hamItems {
		display: none;
	}
	#hamburger:checked ~ #hamItems {
		display: block;
	}
	/*index*/
	#flexContainer {
		display: flex;
		flex-direction: column-reverse;
	}
	.indexArticles {
		float: right;
		max-width: 60%;
	}
	.indexImage {
		float: left;
		max-width: 30%;
		border: none;
		margin: 0;
	}
		#mainVideo {
		display: none;
	}
	/*bestdestinations*/
	#mainDestinations {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto auto auto auto;
		gap: 1em 1em;
		grid-template-areas:'article5'
							'article3'
							'article2'
							'article1';
	}
	#article4 {
		display: none;
	}
	#article6 {
		display: none;
	}
	#asideDestinations {
		flex-direction: column;
	}
	/*tickets*/
	#asideTickets {
		display: flex;
		flex-direction: column;
	}
	
	/*contact*/
	
}